.form-label {
	-fx-font-size: 14px;
	-fx-font-weight: 600;
}

/* Input Fields */
.text-field {
    -fx-border-color: #ccc;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #f8f8f8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0.2, 0, 0);
    -fx-text-fill: #333;
    -fx-pref-width: 100%;
}

.text-field:hover {
    -fx-background-color: #eaeaea;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.3, 0, 2);
}

.result_field {
	-fx-wrap-text: true; 
	-fx-text-alignment: center;
}

.error-message {
	-fx-font-weight:bold;
	-fx-color:darkred;
	-fx-font-size:16px;
}